<div class="top-hero-container">
  <div class="container">
    <h1>イベント</h1>
    <div class="row">

      <div class="col-md-12 text-right">
        <%= form_tag(events_index_path, :method => 'get') do %>
          キーワード <%= text_field_tag :search, params[:search] %><br>

          開始日 <%= datetime_select :start_time, {}, default: (params[:start_time].nil?) ?
            (DateTime.new(2020, 12, 31, 15, 0).in_time_zone("Tokyo")) : @start_time_custom %><br>

          終了日 <%= datetime_select :end_time, {}, default: (params[:end_time].nil?) ?
            DateTime.now.in_time_zone("Tokyo") : @end_time_custom %><br>

          <%= submit_tag('  検索  ') %>
        <% end %>
      </div>
      <br><br><br><br>

      <div class="col-md-12">
      <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>時刻</th>
              <th>レベル</th>
              <th>実行ユーザ</th>
              <th>イベント内容</th>
            </tr>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= event[1] %></td>
                <td><%= event[0] %></td>
                <td><%= event[2] %></td>
                <td><%= event[3] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="col-md-12">
        <br><br>
        <%= link_to "全てのイベントを表示（更新）", events_index_path, class: 'btn btn-primary' %>
        <%= link_to "CSVダウンロード", request.path + ".csv" + request.fullpath[request.path.size..request.fullpath.size], class: "btn btn-primary" %>
      </div> 
    </div>
  </div>
</div>
    